.undisplay {
    display: none;
}

.player-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0E2636;
    border: 2px solid white;
    border-radius: 30px;
    height: 50vh;
    width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.done {
    position: absolute;
    transition: left 1.5s linear;
    left: -80vh;
}